In [1]:
#import dependencies 
from path import Path
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import psycopg2
import time
from datetime import datetime as dt
from config import db_password
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
#import data
file_path = Path("./Resources/cbp_data.csv")
cbp_df = pd.read_csv(file_path, low_memory=False)
cbp_df.head()

,date_in,date_out,app_date,hours_in_custody,age_group,gender,citizenship,border,sector,field_office,source
0,2017-01-20 00:10:00,2017-01-20 10:08:00,NaN,9.950000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN,BP
1,2017-01-20 00:15:00,2017-01-24 17:30:00,NaN,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN,BP
2,2017-01-20 00:22:00,2017-01-24 17:47:00,NaN,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN,BP
3,2017-01-20 00:30:00,2017-01-21 06:35:00,NaN,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN,BP
4,2017-01-20 00:30:00,2017-01-21 13:03:00,NaN,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN,BP

In [3]:
#remove initial columns I don't need
cbp_df = cbp_df.drop(['app_date', 'border', 'sector', 'field_office', 'source'], axis=1).dropna()
cbp_df.head()

,date_in,date_out,hours_in_custody,age_group,gender,citizenship
0,2017-01-20 00:10:00,2017-01-20 10:08:00,9.950000,6-8 years,Female,EL SALVADOR
1,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA
2,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL
3,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR
4,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS

In [4]:
# formatting date pt 1 (splitting off times)
cbp_df[['date_in','time_in']]=cbp_df.date_in.str.split(" ",expand=True)
cbp_df[['date_out','time_out']]=cbp_df.date_out.str.split(" ",expand=True)
cbp_df

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,time_in,time_out
0,2017-01-20,2017-01-20,9.950000,6-8 years,Female,EL SALVADOR,00:10:00,10:08:00
1,2017-01-20,2017-01-24,113.233333,3-5 years,Female,GUATEMALA,00:15:00,17:30:00
2,2017-01-20,2017-01-24,113.416667,3-5 years,Female,BRAZIL,00:22:00,17:47:00
3,2017-01-20,2017-01-21,30.083333,12-14 years,Male,EL SALVADOR,00:30:00,06:35:00
4,2017-01-20,2017-01-21,36.533333,3-5 years,Male,HONDURAS,00:30:00,13:03:00
...,...,...,...,...,...,...,...,...
583803,2020-06-18,2020-06-18,4.770000,15-18 years,M - MALE,MEXICO,14:00:55,18:47:00
583804,2020-06-18,2020-06-19,21.620000,15-18 years,M - MALE,MEXICO,16:07:39,13:45:00
583805,2020-06-19,2020-06-19,2.810000,12-14 years,F - FEMALE,MEXICO,09:34:16,12:23:00
583806,2020-06-19,2020-06-20,20.760000,15-18 years,F - FEMALE,MEXICO,14:40:00,11:25:45
583807,2020-06-19,2020-06-20,24.660000,15-18 years,M - MALE,MEXICO,10:46:25,11:25:45

In [5]:
# formatting date pt 2 (removing time columns)
cbp_df = cbp_df.drop(['time_in', 'time_out'], axis=1)
cbp_df.dtypes

date_in              object
date_out             object
hours_in_custody    float64
age_group            object
gender               object
citizenship          object
dtype: object

In [6]:
# formatting date pt 3 (breaking down months/years and changing dates in/out dtypes)

# Break down months/years of detentions
cbp_df["year_in"] = pd.to_datetime(cbp_df["date_in"]).dt.year
cbp_df["month_in"] = pd.to_datetime(cbp_df["date_in"]).dt.month
cbp_df["year_out"] = pd.to_datetime(cbp_df["date_out"]).dt.year
cbp_df["month_out"] = pd.to_datetime(cbp_df["date_out"]).dt.month
cbp_df["date_in"] = pd.to_datetime(cbp_df["date_in"])
cbp_df["date_out"] = pd.to_datetime(cbp_df["date_out"])
cbp_df.dtypes

date_in             datetime64[ns]
date_out            datetime64[ns]
hours_in_custody           float64
age_group                   object
gender                      object
citizenship                 object
year_in                      int64
month_in                     int64
year_out                     int64
month_out                    int64
dtype: object

In [7]:
#Clean gender column

#create dictionary 
genders = {'M - MALE': 1, 'F - FEMALE': 2, 'U - UNKNOWN': 0, 'Female': 2, 'Male': 1, 'Unknown': 0}

#replace values in column
cbp_df['gender'] = cbp_df.gender.replace(genders)

In [8]:
#round hours in custody 
cbp_df['hours_in_custody'] = cbp_df.hours_in_custody.round(2)
cbp_df

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,year_in,month_in,year_out,month_out
0,2017-01-20,2017-01-20,9.95,6-8 years,2,EL SALVADOR,2017,1,2017,1
1,2017-01-20,2017-01-24,113.23,3-5 years,2,GUATEMALA,2017,1,2017,1
2,2017-01-20,2017-01-24,113.42,3-5 years,2,BRAZIL,2017,1,2017,1
3,2017-01-20,2017-01-21,30.08,12-14 years,1,EL SALVADOR,2017,1,2017,1
4,2017-01-20,2017-01-21,36.53,3-5 years,1,HONDURAS,2017,1,2017,1
...,...,...,...,...,...,...,...,...,...,...
583803,2020-06-18,2020-06-18,4.77,15-18 years,1,MEXICO,2020,6,2020,6
583804,2020-06-18,2020-06-19,21.62,15-18 years,1,MEXICO,2020,6,2020,6
583805,2020-06-19,2020-06-19,2.81,12-14 years,2,MEXICO,2020,6,2020,6
583806,2020-06-19,2020-06-20,20.76,15-18 years,2,MEXICO,2020,6,2020,6
583807,2020-06-19,2020-06-20,24.66,15-18 years,1,MEXICO,2020,6,2020,6

In [9]:
# Number countries
country_num = {
    'EL SALVADOR': 1, 
    'GUATEMALA': 2, 
    'BRAZIL': 4, 
    'HONDURAS': 5, 
    'INDIA': 6,
    'MEXICO': 7, 
    'PERU': 8, 
    'NICARAGUA': 9, 
    'ROMANIA': 10, 
    'BANGLADESH': 11, 
    'ECUADOR': 12,
    'UKRAINE': 13, 
    'COLOMBIA': 14, 
    'BELIZE': 15, 
    'YEMEN': 16, 
    'VENEZUELA': 17,
    'UNITED KINGDOM': 18, 
    'CHILE': 19, 
    'SUDAN': 20, 
    'CANADA': 21, 
    'NEPAL': 22,
    'CHINA, PEOPLES REPUBLIC OF': 23, 
    'HAITI': 24, 
    'BAHAMAS': 25, 
    'NIGERIA': 26,
    'CUBA': 27, 
    'SOUTH AFRICA': 28, 
    'SOMALIA': 29, 
    'DOMINICAN REPUBLIC': 30, 
    'POLAND': 31,
    'ARGENTINA': 32, 
    'COSTA RICA': 33, 
    'VIETNAM': 34, 
    'PANAMA': 35, 
    'JAMAICA': 36,
    'PAKISTAN': 37, 
    'IRELAND': 38, 
    'PORTUGAL': 39, 
    'FRANCE': 40, 
    'SRI LANKA': 41, 
    'GAMBIA': 42,
    'ALBANIA': 43, 
    'SIERRA LEONE': 44, 
    'ERITREA': 45, 
    'MALAYSIA': 46, 
    'THAILAND': 47,
    'SPAIN': 48, 
    'BOLIVIA': 49, 
    'HUNGARY': 50, 
    'AFGHANISTAN': 51, 
    'BURMA': 52, 
    'GHANA': 53,
    'ITALY': 54, 
    'GUYANA': 55, 
    'IRAN': 56, 
    'RUSSIA': 57, 
    'KAZAKHSTAN': 58, 
    'JORDAN': 59,
    'CONGO': 60, 
    'GUADELOUPE': 61, 
    'TRINIDAD AND TOBAGO': 62, 
    'TURKEY': 63, 
    'GUINEA': 64,
    'UZBEKISTAN': 65, 
    'QATAR': 66, 
    'URUGUAY': 67, 
    'TAJIKISTAN': 68,
    'DEM REP OF THE CONGO': 69, 
    'ANGOLA': 70, 
    'TOGO': 71, 
    'CAMEROON': 72,
    'IVORY COAST': 73, 
    'BELARUS': 74, 
    'SWITZERLAND': 75, 
    'BARBADOS': 76, 
    'PHILIPPINES': 77,
    'BELGIUM': 78, 
    'KOSOVO': 79, 
    'KENYA': 80, 
    'BENIN': 81, 
    'FRENCH GUIANA': 82, 
    'ARMENIA': 83,
    'EGYPT': 84, 
    'REPUBLIC OF CONGO (BRAZZAVILLE)': 85,
    'DEMOCRATIC REPUBLIC OF CONGO (ZAIRE)': 86, 
    'MOLDOVA': 87, 
    'SYRIA': 88,
    'CHINA (MAINLAND)': 23, 
    'ETHIOPIA': 89, 
    'KYRGYZSTAN': 90, 
    'UNKNOWN': 0, 
    'UGANDA': 91,
    'RWANDA': 92, 
    'AZERBAIJAN': 93, 
    'GEORGIA': 94, 
    'GUAM': 95,
    'UNITED STATES OF AMERICA': 96, 
    'GERMANY': 97, 
    'TURKMENISTAN': 98,
    'EQUATORIAL GUINEA': 99, 
    'SAUDI ARABIA': 100, 
    'MALI': 101, 
    'IRAQ': 102, 
    'SOUTH KOREA': 103,
    'PARAGUAY': 104, 
    'REPUBLIC OF SOUTH AFRICA': 105, 
    'UNITED ARAB EMIRATES': 106,
    'BURKINA FASO (UPPER VOLTA)': 107, 
    'LIBYA': 108, 
    'AUSTRALIA': 109, 
    'SLOVAKIA': 110
}

In [10]:
# Number age groups
ages = {'6-8 years': 4, 
        '3-5 years': 3, 
        '12-14 years': 6, 
        'Under 1 year': 1,
        '9-11 years': 5, 
        '15-18 years': 7, 
        '1-2 years': 2
       }

In [11]:
# making countries numeric
cbp_df["country_code"] = cbp_df["citizenship"].apply(lambda x: country_num[x])
cbp_df

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,year_in,month_in,year_out,month_out,country_code
0,2017-01-20,2017-01-20,9.95,6-8 years,2,EL SALVADOR,2017,1,2017,1,1
1,2017-01-20,2017-01-24,113.23,3-5 years,2,GUATEMALA,2017,1,2017,1,2
2,2017-01-20,2017-01-24,113.42,3-5 years,2,BRAZIL,2017,1,2017,1,4
3,2017-01-20,2017-01-21,30.08,12-14 years,1,EL SALVADOR,2017,1,2017,1,1
4,2017-01-20,2017-01-21,36.53,3-5 years,1,HONDURAS,2017,1,2017,1,5
...,...,...,...,...,...,...,...,...,...,...,...
583803,2020-06-18,2020-06-18,4.77,15-18 years,1,MEXICO,2020,6,2020,6,7
583804,2020-06-18,2020-06-19,21.62,15-18 years,1,MEXICO,2020,6,2020,6,7
583805,2020-06-19,2020-06-19,2.81,12-14 years,2,MEXICO,2020,6,2020,6,7
583806,2020-06-19,2020-06-20,20.76,15-18 years,2,MEXICO,2020,6,2020,6,7
583807,2020-06-19,2020-06-20,24.66,15-18 years,1,MEXICO,2020,6,2020,6,7

In [12]:
# making age groups numeric
cbp_df["age_group"] = cbp_df["age_group"].apply(lambda x: ages[x])
cbp_df

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,year_in,month_in,year_out,month_out,country_code
0,2017-01-20,2017-01-20,9.95,4,2,EL SALVADOR,2017,1,2017,1,1
1,2017-01-20,2017-01-24,113.23,3,2,GUATEMALA,2017,1,2017,1,2
2,2017-01-20,2017-01-24,113.42,3,2,BRAZIL,2017,1,2017,1,4
3,2017-01-20,2017-01-21,30.08,6,1,EL SALVADOR,2017,1,2017,1,1
4,2017-01-20,2017-01-21,36.53,3,1,HONDURAS,2017,1,2017,1,5
...,...,...,...,...,...,...,...,...,...,...,...
583803,2020-06-18,2020-06-18,4.77,7,1,MEXICO,2020,6,2020,6,7
583804,2020-06-18,2020-06-19,21.62,7,1,MEXICO,2020,6,2020,6,7
583805,2020-06-19,2020-06-19,2.81,6,2,MEXICO,2020,6,2020,6,7
583806,2020-06-19,2020-06-20,20.76,7,2,MEXICO,2020,6,2020,6,7
583807,2020-06-19,2020-06-20,24.66,7,1,MEXICO,2020,6,2020,6,7

In [13]:
cbp_df = cbp_df.drop(["citizenship"], axis=1)
cbp_df.head()

,date_in,date_out,hours_in_custody,age_group,gender,year_in,month_in,year_out,month_out,country_code
0,2017-01-20,2017-01-20,9.95,4,2,2017,1,2017,1,1
1,2017-01-20,2017-01-24,113.23,3,2,2017,1,2017,1,2
2,2017-01-20,2017-01-24,113.42,3,2,2017,1,2017,1,4
3,2017-01-20,2017-01-21,30.08,6,1,2017,1,2017,1,1
4,2017-01-20,2017-01-21,36.53,3,1,2017,1,2017,1,5

In [14]:
# Convert Hours in custody into days 
cbp_df['days_in_custody'] = cbp_df['hours_in_custody'] / 24
cbp_df

,date_in,date_out,hours_in_custody,age_group,gender,year_in,month_in,year_out,month_out,country_code,days_in_custody
0,2017-01-20,2017-01-20,9.95,4,2,2017,1,2017,1,1,0.414583
1,2017-01-20,2017-01-24,113.23,3,2,2017,1,2017,1,2,4.717917
2,2017-01-20,2017-01-24,113.42,3,2,2017,1,2017,1,4,4.725833
3,2017-01-20,2017-01-21,30.08,6,1,2017,1,2017,1,1,1.253333
4,2017-01-20,2017-01-21,36.53,3,1,2017,1,2017,1,5,1.522083
...,...,...,...,...,...,...,...,...,...,...,...
583803,2020-06-18,2020-06-18,4.77,7,1,2020,6,2020,6,7,0.198750
583804,2020-06-18,2020-06-19,21.62,7,1,2020,6,2020,6,7,0.900833
583805,2020-06-19,2020-06-19,2.81,6,2,2020,6,2020,6,7,0.117083
583806,2020-06-19,2020-06-20,20.76,7,2,2020,6,2020,6,7,0.865000
583807,2020-06-19,2020-06-20,24.66,7,1,2020,6,2020,6,7,1.027500

In [15]:
# Round days in custody
cbp_df['days_in_custody'] = cbp_df.days_in_custody.round(2)
cbp_df

,date_in,date_out,hours_in_custody,age_group,gender,year_in,month_in,year_out,month_out,country_code,days_in_custody
0,2017-01-20,2017-01-20,9.95,4,2,2017,1,2017,1,1,0.41
1,2017-01-20,2017-01-24,113.23,3,2,2017,1,2017,1,2,4.72
2,2017-01-20,2017-01-24,113.42,3,2,2017,1,2017,1,4,4.73
3,2017-01-20,2017-01-21,30.08,6,1,2017,1,2017,1,1,1.25
4,2017-01-20,2017-01-21,36.53,3,1,2017,1,2017,1,5,1.52
...,...,...,...,...,...,...,...,...,...,...,...
583803,2020-06-18,2020-06-18,4.77,7,1,2020,6,2020,6,7,0.20
583804,2020-06-18,2020-06-19,21.62,7,1,2020,6,2020,6,7,0.90
583805,2020-06-19,2020-06-19,2.81,6,2,2020,6,2020,6,7,0.12
583806,2020-06-19,2020-06-20,20.76,7,2,2020,6,2020,6,7,0.87
583807,2020-06-19,2020-06-20,24.66,7,1,2020,6,2020,6,7,1.03

In [19]:
# Export to csv
cbp_df.to_csv(r'/Users/ebonybrown/Desktop/My_Projects/CBP_Detentions/Resources/cbp_clean.csv', index_label="unique_id")

In [ ]:
# Export to postgres
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/CBP_Detentions"
engine = create_engine(db_string)
cbp_df.to_sql(name='detentions', con=engine, if_exists='replace', index_label="unique_id")